@import 'tailwindcss';
@import '@fontsource/fira-mono';

body {
  font-family: 'Fira Mono', monospace;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  background: white;
}

@plugin '@tailwindcss/typography';

@plugin '@tailwindcss/forms';
